/* You can add global styles to this file, and also import other style files */
.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  
  .fruit_box{
    float: left;
    margin: 20px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
  }
  
  .fruit_box div{
    display:block;
  }
  
  img.fruit{
    width: 30px;
    display:block;
    clear:both;
    margin: 1px;
  }
  
  footer{
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 20px;
    background-color: #333;
    color: white;
  
  }
  